/* --------- GENERAL --------- */

:root {
  --bg-color: #ffffff;
  --dark: #0e0e0e;
  --accent: #fb5b11;
  --accent-hover: #d84c16;
  --light-text: #d8d8d8;
  --dark-text: #555555;
  --contacts-color: #cdcdcd;
  --status-items: #f8f8f8;
  --transition: 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding-top: 145px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  color: var(--dark-text);
  background-color: var(--bg-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
  margin: 0;
  padding: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 215px;
}

.container {
  width: 1297px;
  margin: 0 auto;
  margin-bottom: 143px;
}

/* --------- HEADER --------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 145px;
  display: flex;
  flex-direction: row;
  background-color: var(--dark);
  background-repeat: no-repeat;
  background-size: 578px 156px;
  background-position: 0;
}

.logo {
  padding: 40px 243px 40px 93px;
}

.logo-background {
  position: absolute;
  z-index: -999;
}

.logo-link {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}

.logo-pic {
  width: 86px;
  height: 76px;
}

.logo-descr {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.logo-text {
  font-size: 14px;
  line-height: 1.714;
  color: var(--bg-color);
}

.logo-name {
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  color: var(--bg-color);
}

.middle-header {
  flex: 1;
  border-right: 1px solid var(--dark-text);
}

.upper-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 29px;
  border-bottom: 1px solid var(--dark-text);
}

.contacts-list {
  padding: 16px 29px 17px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 42px;
}

.contacts-item {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
}

.contacts-icon {
  fill: var(--accent);
}

.contacts-text {
  font-size: 14px;
  line-height: 1.714;
  color: var(--contacts-color);
  transition: color var(--transition);
}

.contacts-text.mail:hover {
  color: var(--accent);
}

.socials-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.socials-item {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  fill: rgba(255, 255, 255, 0.3);
  transition: fill var(--transition);
}

.socials-icon:hover {
  fill: var(--bg-color);
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 30px 0px 24px 60px;
}

.nav-link {
  font-weight: 700;
  line-height: 1.625;
  color: var(--bg-color);
  position: relative;
  transition: color var(--transition);
}

.nav-link:hover {
  color: var(--accent);
}

.nav-link.active {
  color: var(--accent);
}

.nav-link.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent);
  position: absolute;
  bottom: -31px;
  left: 0;
}

.phone {
  padding: 42px 83px 43px 23px;
}

.phone-link {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
}

.phone-icon-frame {
  width: 60px;
  height: 60px;
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition);
}

.phone-icon {
  fill: var(--bg-color);
  transition: transform var(--transition);
}

.phone-link:hover .phone-icon {
  transform: scale(1.2);
}

.phone-text {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.phone-text-cta {
  font-size: 14px;
  line-height: 1.714;
  color: var(--contacts-color);
}

.phone-text-number {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.625;
  color: var(--bg-color);
}

/* --------- HERO --------- */

.hero {
  position: relative;
  padding-bottom: 150px;
  margin-bottom: 143px;
}

.hero-wrapper {
  background: url(./assets/img/bigger-line.png),
  url(./assets/img/smaller-line.png),
  linear-gradient(
    to bottom,
    rgba(14, 14, 14, 0.6) 0%,
    rgba(14, 14, 14, 0.9) 100%
  ), url(./assets/img/hero.webp);
    background-position: 
    bottom -16px left -10px,
    bottom -16px left -10px,
    center,
    center;
  background-repeat: 
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat;
  background-size: 
    auto,
    auto,
    cover,
    cover;
}

.hero-container {
  margin: 0 auto;
  padding-top: 49px;
  padding-bottom: 72px;
  width: 1595px;
  display: flex;
  flex-direction: row;
  gap: 54px;
}

.hero-text {
  width: 901px;
  padding-top: 149px;
  padding-bottom: 124px;
}

.hero-title {
  margin-bottom: 6px;
  font-family: "Jost", sans-serif;
  font-size: 158px;
  font-weight: 600;
  line-height: 0.873;
  color: var(--bg-color);
}

.hero-descr {
  font-size: 24px;
  line-height: 1.417;
  color: var(--light-text);
  margin-bottom: 43px;
}

.button {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 17px 35px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.625;
  background-color: var(--bg-color);
  border: 1px solid var(--dark);
  color: var(--dark);
  fill: var(--dark);
  transition: background-color var(--transition), transform var(--transition),
    color var(--transition), fill var(--transition);
  cursor: pointer;
}

.button.accent {
  background-color: var(--accent);
  border: 1px solid transparent;
  color: var(--bg-color);
  fill: var(--bg-color);
}

.button.accent:hover {
  transform: scale(1.05);
}

.hero-portrait {
  width: 640px;
  height: 729px;
  background-image: url(./assets/img/portrait-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.front-loader {
  position: absolute;
  bottom: 0;
  left: calc(50% - (539px / 2));
}

/* --------- SERVICES --------- */

.container-services {
  display: flex;
  flex-direction: row;
  gap: 75px;
}

.services-text {
  width: 476px;
  background-image: url(./assets/img/man.png);
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: right 0 bottom 31px;
}

.section-name {
  margin-left: 25px;
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.625;
  color: var(--dark);
}

.section-name::before {
  content: "";
  display: block;
  width: 15px;
  height: 1px;
  background-color: var(--accent);
  position: absolute;
  top: calc(50% - 1px);
  left: -25px;
}

.section-title {
  font-family: "Jost", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 1.192;
  color: var(--dark);
}

.section-title.services-section-title {
  margin-bottom: 9px;
}

.button:hover {
  background-color: var(--accent);
  border: 1px solid transparent;
  color: var(--bg-color);
  fill: var(--bg-color);
}

.section-descr {
  margin-bottom: 43px;
}

.swiper.swiper-1 {
  width: 746px;
  height: 418px;
}

.swiper-slide.swiper-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 306px;
  height: 100%;
  padding: 24px;
  align-content: end;
  background-image: none;
  transition: background-image var(--transition);
}

.swiper-slide-gradient.swiper-first {
  background-image: linear-gradient(
    to bottom,
    rgba(5, 0, 0, 0) 0%,
    rgba(14, 14, 14, 1) 100%
  );
}

.slide-img {
  width: 95px;
  height: 74px;
  opacity: 0;
  transition: opacity var(--transition);
}

.slide-text {
  opacity: 0;
  transition: opacity var(--transition);
}

.slide-visible {
  opacity: 1;
}

.service-name {
  margin-bottom: 13px;
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.417;
  color: var(--bg-color);
  text-decoration: underline;
}

.service-decsr {
  color: var(--bg-color);
}

/* --------- ABOUT --------- */

.container.container-about {
  margin-bottom: 137px;
}

.about-upper-block {
  display: flex;
  flex-direction: row;
  gap: 172px;
  margin-bottom: 67px;
}

.about-text {
  margin-top: 16px;
  margin-bottom: 23px;
  width: 439px;
}

.about-right-block {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.about-span-container {
  display: inline-block;
  position: relative;
}

.about-span {
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  color: var(--dark);
  background-color: rgba(255, 255, 255, 0);
}

.about-span-reflection {
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.313;
  line-height: 1;
  color: var(--dark);
  position: absolute;
  left: 0;
  top: 60%;
  width: 100%;
  text-align: left;
  transform: scaleY(-1);
  opacity: 1;
  overflow: hidden;
  height: 100%;
  pointer-events: none;

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(201, 201, 201, 0) 40%,
    rgba(201, 201, 201, 0.3) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(201, 201, 201, 0) 40%,
    rgba(201, 201, 201, 0.3) 100%
  );
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.swiper-wrapper.swiper-second {
  width: 100%;
  height: 332px;
  padding-bottom: 64px;
  display: flex;
}

.swiper-slide.swiper-second {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 21px 29px;
  width: 416px;
  height: 332px;
  background-image: linear-gradient(
    to bottom,
    rgba(5, 0, 0, 0.2) 0%,
    rgba(14, 14, 14, 1) 100%
  );
  overflow: hidden;
}

.swiper-second.swiper-button-prev:after,
.swiper-second.swiper-button-next:after {
  content: none;
}

.swiper-navigation.swiper-second {
  display: flex;
  justify-content: center;
  width: 166px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: calc(50% - (166px / 2));
  padding: 0 20px;
}

.swiper-second.swiper-button-prev,
.swiper-second.swiper-button-next {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 60px;
  z-index: 10;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  fill: var(--dark);
  transition: fill var(--transition);
}

.swiper-button-prev:hover svg,
.swiper-button-next:hover svg {
  fill: var(--accent);
}

.about-swiper-content {
  position: relative;
  top: 94px;
  transition: top var(--transition);
}

.swiper-second-name {
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.313;
  color: var(--bg-color);
}

.swiper-second-points {
  margin-top: 12px;
  color: var(--bg-color);
}

.points-visible {
  top: 0;
}

/* --------- STATUS --------- */

.status {
  margin-bottom: 143px;
}

.status-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title.status-title {
  margin-bottom: 67px;
}

.status-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.status-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 306px;
  height: 206px;
  background-color: var(--status-items);
  transition: background-color var(--transition);
}

.status-number {
  font-family: "Jost", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 1.192;
  color: var(--dark);
}

.status-descr {
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.417;
  color: var(--dark);
}

.status-item:hover {
  background-color: var(--accent);
}

.status-item:hover .status-number {
  color: var(--bg-color);
}

.status-item:hover .status-descr {
  color: var(--bg-color);
}

/* --------- PROJECTS --------- */

.container.container-projects {
  position: relative;
  margin-bottom: 67px;
}

.projects-text {
  width: fit-content;
}

.projects-buttons {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 166px;
  height: 40px;
  top: 66px;
  right: 0;
}

.projects-button.swiper-button-prev:after,
.projects-button.swiper-button-next:after {
  content: none;
}

.projects-button.swiper-button-prev,
.projects-button.swiper-button-next {
  width: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.projects-button.swiper-button-prev svg,
.projects-button.swiper-button-next svg {
  fill: var(--dark);
  transition: fill var(--transition);
}

.projects-button.swiper-button-prev:hover svg,
.projects-button.swiper-button-next:hover svg {
  fill: var(--accent);
}

.swiper.swiper-3 {
  margin-bottom: 143px;
}

.swiper-wrapper.projects-list {
  display: flex;
  font-display: row;
}

.swiper-slide.projects-item {
  position: relative;
  background-color: #d9d9d9;
  cursor: pointer;
}

.projects-item-button-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 82px;
  background-color: #b6b6b6;
  left: 50%;
  top: 153px;
  transform: translateX(-50%);
  cursor: pointer;
}

.projects-item-button {
  width: 60px;
  height: 60px;
  border: none;
  background-color: var(--accent);
  cursor: pointer;
}

.projects-item-icon {
  stroke: var(--bg-color);
}

.projects-type {
  display: inline-block;
  width: fit-content;
  margin-bottom: 20px;
  padding: 5px 16px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.625;
  color: var(--bg-color);
  background-color: var(--accent);
}

.projects-name {
  display: inline-block;
  width: fit-content;
  padding: 16px 24px;
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.313;
  color: var(--bg-color);
  background-color: var(--dark);
}

.projects-item-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 626px;
  height: 443px;
  padding: 30px;
  opacity: 1;
  transition: opacity 1s ease;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

/* --------- PROCESS --------- */

.process-container {
  text-align: center;
}

.section-name.process-name {
  margin-bottom: 15px;
}

.section-title.process-title {
  margin-bottom: 37px;
}

.process-list {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 90px;
}

.process-button {
  width: calc((1296px - 48px) / 3);
  background-color: var(--bg-color);
  height: 80px;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  background-color: transparent;
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.417;
  color: var(--dark);
  transition: background-color var(--transition), color var(--transition);
}

.process-active {
  border: 1px solid transparent;
  background-color: var(--accent);
  color: var(--bg-color);
}

.process-button:hover {
  border: 1px solid transparent;
  background-color: var(--accent);
  color: var(--bg-color);
}

.process-button-indicator {
  position: absolute;
  bottom: -9px;
  left: calc(((1296px - 48px) / 3) / 2);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--accent);
  transform: translateX(-50%);
  transition: left 0.3s ease;
  pointer-events: none;
}

.process-video-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.process-video {
  width: 100%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

.custom-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  border: none;
  background-color: var(--accent);
  transition: background-color var(--transition);
}

.custom-play-button:hover {
  background-color: var(--accent-hover);
}

.custom-play-icon {
  position: relative;
  fill: var(--bg-color);
  z-index: 10;
  transition: transform var(--transition);
}

.custom-play-button:hover .custom-play-icon {
  transform: scale(1.2);
}

/* --------- TESTIMONIALS --------- */

.testimonials-container {
  position: relative;
  border-bottom: 1px solid var(--contacts-color);
}

.testimonials-text {
  width: 666px;
}

.section-name.testimonials-section-name {
  margin-bottom: 15px;
}

.section-title.testimonials-title {
  margin-bottom: 7px;
}

.testimonials-main {
  display: flex;
  flex-direction: row;
  margin-bottom: 43px;
}

.testimonials-main-left {
  flex-grow: 1;
}

.testimonials-reviews {
  margin-bottom: 33px;
  width: 950px;
}

.testimonials-review {
  padding-top: 53px;
  width: 950px;
  font-family: "Jost", sans-serif;
  font-size: 32px;
  line-height: 1.313;
  color: var(--dark-text);
  display: none;
}

.testimonials-review.active {
  display: block;
}

.testimonials-persons-block {
  display: flex;
  flex-direction: row;
  gap: 37px;
}

.testimonials-quote {
  fill: var(--dark);
  stroke: var(--dark);
}

.testimonials-name {
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.15;
  color: var(--dark);
  display: none;
}

.testimonials-name.active {
  display: block;
}

.testimonials-role {
  font-size: 24px;
  line-height: 1.3;
  color: var(--dark-text);
  display: none;
}

.testimonials-role.active {
  display: block;
}

.testimonials-photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 69px;
}

.testimonials-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.testimonials-photo.active {
  width: 110px;
  height: 110px;
  border: 2px solid var(--accent);
}

.testimonials-hr {
  position: absolute;
  width: 526px;
  height: 3px;
  background-color: var(--dark);
  bottom: -2px;
}

/* --------- TEAM --------- */

.team-container {
  margin-bottom: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.section-name.team-section-name {
  margin-bottom: 14px;
}

.section-title.team-title {
  margin-bottom: 9px;
}

.team-descr {
  margin-bottom: 43px;
  width: 439px;
}

.team-text {
  width: 483px;
}

.team-image {
  width: 416px;
  height: 479px;
  background-color: #d9d9d9;
  display: none;
}

.team-image.active {
  display: block;
}

.team-members {
  width: 269px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.team-member-name {
  margin-bottom: 3px;
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.417;
  color: var(--dark);
  text-align: end;
  cursor: pointer;
}

.team-member-name.active {
  margin-bottom: 0;
  font-size: 32px;
  line-height: 1.313;
  color: #ff6600;
  text-decoration: underline;
}

.team-member-position {
  font-size: 24px;
  text-align: end;
}

/* --------- PRICING --------- */

.pricing {
  scroll-margin-top: 145px;
  background-color: #f8f8f8;
  background-image: url(./assets/img/map.png);
  background-repeat: no-repeat;
  background-size: 997px 640px;
  background-position: 0 0;
}

.pricing-container {
  padding-top: 143px;
  padding-bottom: 236px;
  text-align: center;
}

.section-name.pricing-name {
  margin-bottom: 14px;
}

.section-title.pricing-title {
  margin-bottom: 67px;
}

.pricing-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pricing-item {
  position: relative;
  width: 416px;
  height: 536px;
  padding: 44px 39px 50px;
  border: 1px solid var(--contacts-color);
  background-color: var(--bg-color);
  text-align: start;
}

.price-line {
  margin-bottom: 13px;
}

.price {
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.313;
  color: var(--dark);
}

.price-span {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.625;
}

.price-tariff {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-bottom: 27px;
}

.price-icon-star {
  stroke: var(--accent);
  fill: transparent;
}

.pricing-hr {
  width: 316px;
  height: 2px;
  background-color: var(--contacts-color);
}

.pricing-features {
  margin-bottom: 38px;
}

.pricing-feature {
  position: relative;
  padding-left: 16px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 2.25;
  color: var(--dark);
}

.pricing-feature::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.8em;
  width: 2px;
  height: 2px;
  background-color: var(--dark);
  border-radius: 50%;
}

.pricing-feature.closed {
  color: var(--dark-text);
}

.pricing-feature.closed::before {
  background-color: var(--dark-text);
}

.pricing-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  fill: var(--dark);
}

.pricing-special {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 100px;
  height: 30px;
  color: var(--bg-color);
  background-color: #39ca6e;
  border-radius: 20px;
  text-align: center;
}

/* --------- BLOG --------- */

.container.blog-container {
  margin-bottom: 73px;
  text-align: center;
}

.blog-main-article {
  position: relative;
  margin-bottom: 30px;
}

.blog-main-article-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 202px;
  text-align: start;
}

.blog-main-article-date {
  position: absolute;
  padding: 24px 29px 31px 30px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 129px;
  height: 123px;
  font-size: 24px;
  line-height: 1.417;
  color: var(--bg-color);
  background-image: url(./assets/img/date.png);
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.blog-main-article-pic {
  width: 636px;
  height: 361px;
  background-color: #d9d9d9;
}

.blog-main-article-text {
  width: 459px;
}

.blog-descr {
  padding-left: 41px;
  margin-bottom: 13px;
}

.blog-author {
  position: relative;
  margin-right: 30px;
}

.blog-author::before {
  content: "";
  display: block;
  width: 31px;
  height: 1px;
  background-color: var(--dark-text);
  position: absolute;
  top: 50%;
  left: -41px;
}

.blog-theme {
  position: relative;
}

.blog-theme::before {
  position: absolute;
  content: "";
  display: block;
  left: -16px;
  top: 0.4em;
  width: 6px;
  height: 6px;
  background-color: var(--dark-text);
  border-radius: 50%;
}

.blog-main-article-title {
  margin-bottom: 12px;
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.313;
  color: var(--dark);
}

.blog-main-article-paragraph {
  width: 419px;
  margin-bottom: 37px;
}

.blog-button {
  padding: 15px 15px 15px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  border: transparent;
  background-color: transparent;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.625;
  color: var(--accent);
  fill: var(--accent);
  cursor: pointer;
  transition: color var(--transition), fill var(--transition);
}

.blog-button:hover {
  color: var(--accent-hover);
  fill: var(--accent-hover);
}

.blog-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 42px;
}

.blog-article {
  position: relative;
  width: 416px;
  height: 526px;
  padding: 30px 30px 23px;
  text-align: left;
  border: 1px solid var(--light-text);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: border var(--transition), box-shadow var(--transition);
}

.blog-article-pic {
  width: 356px;
  height: 300px;
  background-color: #d8d8d8;
}

.blog-descr.blog-descr-other {
  margin-bottom: 17px;
}

.blog-article-title {
  margin-bottom: 14px;
  text-transform: capitalize;
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.417;
  color: var(--dark);
}

.blog-button.blog-button-listed {
  padding: 0;
  color: var(--dark);
  fill: var(--dark);
}

.blog-more {
  margin: 0 auto;
}

.blog-article-date {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition), visibility var(--transition);
  padding: 8px 13px 8px 12px;
  top: 238px;
  right: 40px;
  width: 73px;
  height: 68px;
  color: var(--bg-color);
  text-align: center;
  background-image: url(./assets/img/date.png);
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.blog-article:hover {
  border: 1px solid transparent;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.blog-article:hover .blog-article-date {
  opacity: 1;
  visibility: visible;
}

.blog-article:hover .blog-button-listed {
  color: var(--accent);
  fill: var(--accent);
}

/* --------- FOOTER --------- */

.footer {
  scroll-margin-top: 145px;
  background-color: var(--dark);
  background-image: url(./assets/img/city.png);
  background-size: contain;
  background-position: 0 684px;
  background-repeat: no-repeat;
}

.map-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 568px;
  height: 0;
  overflow: hidden;
}

.map-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  filter: grayscale(100%);
}

.contact-container {
  position: relative;
}

.sign-up-wrapper {
  position: absolute;
  top: -92px;
  width: 100%;
  height: 184px;
  padding: 51px 109px;
  display: flex;
  flex-direction: row;
  gap: 257px;
  background-color: var(--accent);
  background-image: url(./assets/img/newsletter.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top 40px left 270px;
}

.sign-up-cta {
  width: 403px;
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.313;
  color: var(--bg-color);
  text-transform: capitalize;
}

.sigh-up-form {
  position: relative;
  margin-top: 10px;
}

.sign-up-input {
  padding-left: 10px;
  width: 417px;
  height: 45px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--bg-color);
  color: var(--bg-color);
}

.sign-up-input::placeholder {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.sign-up-input:focus {
  outline: none;
  border-bottom: 1px solid var(--bg-color);
}

.sign-up-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 31px;
  background-color: var(--bg-color);
  fill: var(--accent);
  border: none;
  cursor: pointer;
}

.footer-lower {
  padding-top: 232px;
  display: flex;
  gap: 0;
}

.footer-lower > div:nth-child(1) {
  width: 407px;
  margin-right: 150px;
}
.footer-lower > div:nth-child(2) {
  width: 200px;
  margin-right: 20px;
}
.footer-lower > div:nth-child(3) {
  width: 310px;
  margin-right: 20px;
}

.footer-lower > div:nth-child(4) {
  width: 195px;
}

.footer-logo {
  padding: 0;
}

.footer-logo-text {
  color: rgba(255, 255, 255, 0.7);
}

.footer-text {
  width: 400px;
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-available {
  margin-top: 36px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--bg-color);
}

.footer-hours {
  margin-top: 6px;
  color: var(--accent);
}

.footer-header {
  margin-bottom: 24px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  color: var(--bg-color);
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-rights {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  font-family: "DM Sans", sans-serif;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
}

.footer-rights-span {
  color: var(--bg-color);
}