/* --------- GENERAL --------- */

:root {
  --bg-color: #ffffff;
  --dark: #0e0e0e;
  --accent: #fb5b11;
  --accent-hover: #d84c16;
  --light-text: #d8d8d8;
  --dark-text: #555555;
  --contacts-color: #cdcdcd;
  --status-items: #f8f8f8;
  --transition: 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  color: var(--dark-text);
  background-color: var(--bg-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
  margin: 0;
  padding: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1297px;
  margin: 0 auto;
  margin-bottom: 143px;
}

/* --------- HEADER --------- */

.header {
  height: 145px;
  display: flex;
  flex-direction: row;
  background-color: var(--dark);
  background-image: url(./assets/img/logo-bg.png);
  background-repeat: no-repeat;
  background-size: 578px 156px;
  background-position: 0;
}

.logo {
  padding: 40px 243px 40px 93px;
}

.logo-link {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}

.logo-pic {
  width: 86px;
  height: 76px;
}

.logo-descr {
  display: flex;
  flex-direction: column;
}

.logo-text {
  font-size: 14px;
  line-height: 1.714;
  color: var(--bg-color);
}

.logo-name {
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  color: var(--bg-color);
}

.middle-header {
  flex: 1;
  border-right: 1px solid var(--dark-text);
}

.upper-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 29px;
  border-bottom: 1px solid var(--dark-text);
}

.contacts-list {
  padding: 16px 29px 17px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 42px;
}

.contacts-item {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
}

.contacts-icon {
  fill: var(--accent);
}

.contacts-text {
  font-size: 14px;
  line-height: 1.714;
  color: var(--contacts-color);
  transition: color var(--transition);
}

.contacts-text.mail:hover {
  color: var(--accent);
}

.socials-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.socials-item {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  transition: fill var(--transition);
}

.socials-icon:hover {
  fill: var(--bg-color);
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 30px 0px 24px 60px;
}

.nav-link {
  font-weight: 700;
  line-height: 1.625;
  color: var(--bg-color);
  position: relative;
  transition: color var(--transition);
}

.nav-link:hover {
  color: var(--accent);
}

.nav-link.active {
  color: var(--accent);
}

.nav-link.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent);
  position: absolute;
  bottom: -30px;
  left: 0;
}

.phone {
  padding: 42px 83px 43px 23px;
}

.phone-link {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
}

.phone-icon-frame {
  width: 60px;
  height: 60px;
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition);
}

.phone-link:hover .phone-icon-frame {
  background-color: var(--accent-hover);
}

.phone-icon {
  fill: var(--bg-color);
  transition: transform var(--transition);
}

.phone-link:hover .phone-icon {
  transform: scale(1.2);
}

.phone-text {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.phone-text-cta {
  font-size: 14px;
  line-height: 1.714;
  color: var(--contacts-color);
}

.phone-text-number {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.625;
  color: var(--bg-color);
}

/* --------- HERO --------- */

.hero {
  position: relative;
  padding-bottom: 150px;
  margin-bottom: 143px;
}

.hero-wrapper {
  background: linear-gradient(
    to bottom,
    rgba(14, 14, 14, 0.6) 0%,
    rgba(14, 14, 14, 0.9) 100%
  );
}

.hero-container {
  margin: 0 auto;
  padding-top: 49px;
  padding-bottom: 72px;
  width: 1595px;
  display: flex;
  flex-direction: row;
  gap: 54px;
}

.hero-text {
  width: 901px;
  padding-top: 149px;
  padding-bottom: 124px;
}

.hero-title {
  margin-bottom: 6px;
  font-family: "Jost", sans-serif;
  font-size: 158px;
  font-weight: 600;
  line-height: 0.873;
  color: var(--bg-color);
}

.hero-descr {
  font-size: 24px;
  line-height: 1.417;
  color: var(--light-text);
  margin-bottom: 43px;
}

.button {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 17px 35px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.625;
  background-color: var(--bg-color);
  border: 1px solid var(--dark);
  color: var(--dark);
  fill: var(--dark);
  transition: background-color var(--transition), transform var(--transition),
    color var(--transition), fill var(--transition);
  cursor: pointer;
}

.button.accent {
  background-color: var(--accent);
  border: 1px solid transparent;
  color: var(--bg-color);
  fill: var(--bg-color);
}

.button.accent:hover {
  background-color: var(--accent-hover);
  transform: scale(1.05);
}

.hero-portrait {
  width: 640px;
  height: 729px;
  background-image: url(./assets/img/portrait-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.front-loader {
  position: absolute;
  bottom: 0;
  left: calc(50% - (539px / 2));
}

/* --------- SERVICES --------- */

.container-services {
  display: flex;
  flex-direction: row;
  gap: 75px;
}

.services-text {
  width: 476px;
  background-image: url(./assets/img/man.png);
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: right 0 bottom 31px;
}

.section-name {
  margin-left: 25px;
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.625;
  color: var(--dark);
}

.section-name::before {
  content: "";
  display: block;
  width: 15px;
  height: 1px;
  background-color: var(--accent);
  position: absolute;
  top: calc(50% - 1px);
  left: -25px;
}

.section-title {
  font-family: "Jost", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 1.192;
  color: var(--dark);
}

.section-title.services-section-title {
  margin-bottom: 9px;
}

.button:hover {
  background-color: var(--accent);
  border: 1px solid transparent;
  color: var(--bg-color);
  fill: var(--bg-color);
}

.section-descr {
  margin-bottom: 43px;
}

.swiper.swiper-1 {
  width: 746px;
  height: 418px;
}

.swiper-slide.swiper-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 306px;
  height: 100%;
  padding: 24px;
  align-content: end;
  background-image: none;
  transition: background-image var(--transition);
}

.swiper-slide-gradient.swiper-first {
  background-image: linear-gradient(
    to bottom,
    rgba(5, 0, 0, 0) 0%,
    rgba(14, 14, 14, 1) 100%
  );
}

.slide-img {
  width: 95px;
  height: 74px;
  opacity: 0;
  transition: opacity var(--transition);
}

.slide-text {
  opacity: 0;
  transition: opacity var(--transition);
}

.slide-visible {
  opacity: 1;
}

.service-name {
  margin-bottom: 13px;
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.417;
  color: var(--bg-color);
  text-decoration: underline;
}

.service-decsr {
  color: var(--bg-color);
}

/* --------- ABOUT --------- */

.container.container-about {
  margin-bottom: 137px;
}

.about-upper-block {
  display: flex;
  flex-direction: row;
  gap: 172px;
  margin-bottom: 67px;
}

.about-text {
  margin-top: 16px;
  margin-bottom: 23px;
  width: 439px;
}

.about-right-block {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.about-span-container {
  display: inline-block;
  position: relative;
}

.about-span {
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  color: var(--dark);
  background-color: rgba(255, 255, 255, 0);
}

.about-span-reflection {
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.313;
  line-height: 1;
  color: var(--dark);
  position: absolute;
  left: 0;
  top: 60%;
  width: 100%;
  text-align: left;
  transform: scaleY(-1);
  opacity: 1;
  overflow: hidden;
  height: 100%;
  pointer-events: none;

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(201, 201, 201, 0) 40%,
    rgba(201, 201, 201, 0.3) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(201, 201, 201, 0) 40%,
    rgba(201, 201, 201, 0.3) 100%
  );
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.swiper-wrapper.swiper-second {
  width: 100%;
  height: 332px;
  padding-bottom: 64px;
  display: flex;
}

.swiper-slide.swiper-second {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 21px 29px;
  width: 416px;
  height: 332px;
  background-image: linear-gradient(
    to bottom,
    rgba(5, 0, 0, 0.2) 0%,
    rgba(14, 14, 14, 1) 100%
  );
  overflow: hidden;
}

.swiper-second.swiper-button-prev:after,
.swiper-second.swiper-button-next:after {
  content: none;
}

.swiper-navigation.swiper-second {
  display: flex;
  justify-content: center;
  width: 166px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: calc(50% - (166px / 2));
  padding: 0 20px;
}

.swiper-second.swiper-button-prev,
.swiper-second.swiper-button-next {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 60px;
  z-index: 10;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  fill: var(--dark);
  transition: fill var(--transition);
}

.swiper-button-prev:hover svg,
.swiper-button-next:hover svg {
  fill: var(--accent);
}

.about-swiper-content {
  position: relative;
  top: 94px;
  transition: top var(--transition);
}

.swiper-second-name {
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.313;
  color: var(--bg-color);
}

.swiper-second-points {
  margin-top: 12px;
  color: var(--bg-color);
}

.points-visible {
  top: 0;
}

/* --------- STATUS --------- */

.status {
  margin-bottom: 143px;
}

.status-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title.status-title {
  margin-bottom: 67px;
}

.status-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.status-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 306px;
  height: 206px;
  background-color: var(--status-items);
  transition: background-color var(--transition);
}

.status-number {
  font-family: "Jost", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 1.192;
  color: var(--dark);
}

.status-descr {
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.417;
  color: var(--dark);
}

.status-item:hover {
  background-color: var(--accent);
}

.status-item:hover .status-number {
  color: var(--bg-color);
}

.status-item:hover .status-descr {
  color: var(--bg-color);
}

/* --------- PROJECTS --------- */

.container.container-projects {
  position: relative;
  margin-bottom: 67px;
  
}

.projects-text {
  width: fit-content;
}

.projects-buttons {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 166px;
  height: 40px;
  top: 66px;
  right: 0;
}

.projects-button.swiper-button-prev:after,
.projects-button.swiper-button-next:after {
  content: none;
}

.projects-button.swiper-button-prev,
.projects-button.swiper-button-next {
  width: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.projects-button.swiper-button-prev svg,
.projects-button.swiper-button-next svg {
  fill: var(--dark);
  transition: fill var(--transition);
}


.projects-button.swiper-button-prev:hover svg,
.projects-button.swiper-button-next:hover svg {
  fill: var(--accent);
}

.swiper-wrapper.projects-list {
  display: flex;
  font-display: row;
}

.swiper-slide.projects-item {
  position: relative;
  background-color: #d9d9d9;
  cursor: pointer;
}

.projects-item-button-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 82px;
  background-color: #b6b6b6;
  left: 50%;
  top: 153px;
  transform: translateX(-50%);
  cursor: pointer;
}

.projects-item-button {
  width: 60px;
  height: 60px;
  border: none;
  background-color: var(--accent);
  cursor: pointer;
}

.projects-item-icon {
  stroke: var(--bg-color);
}

.projects-type {
  display: inline-block;
  width:fit-content;
  margin-bottom: 20px;
  padding: 5px 16px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.625;
  color: var(--bg-color);
  background-color: var(--accent);
}

.projects-name {
  display: inline-block;
  width:fit-content;
  padding: 16px 24px;
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.313;
  color: var(--bg-color);
  background-color: var(--dark);
}

.projects-item-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 626px;
  height: 443px;
  padding: 30px;
  opacity: 1;
  transition: opacity 1s ease;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1 ease;
}